@use '../variables' as *;
.registration {
  .btn-group {
    display: flex;
    width: 100%;
    padding-inline: $section-padding;
    margin-block: 20px;

    .toggle {
      flex: 1;
      padding-block: 10px;
      background-color: #fff;
      opacity: 0.35;
      border: 1px solid #5E5E5E;
      font-weight: 700;
      font-size: 14px;
      line-height: 34px;
      letter-spacing: -0.03em;
      &[data-toggle="true"] {
        opacity: 1;
      }
    }
  }
}
