.custom-input {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    background: #F2F3F5;
    border-radius: 4px;
    border: 0;
    padding: 18px 22px;
    &:not(:placeholder-shown){
      background-color: #fff;
    }

    &:focus {
      outline: 1px solid #000;
      background-color: #fff;
    }
  }

  label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
    color: #B3B3B3;
    transition: 250ms ease;

    &.focused {
      top: 0;
      font-size: 11px;
      line-height: 13px;
      color: #000;
      background-color: #fff;
      padding: 1px 6px;
    }
  }

  .close-button {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 50%;
    right: 22px;
    font-size: 1.1rem;
    transform: translateY(-50%);
    color: rgba($color: #000, $alpha: 0.4);
  }
}
