
.size-selector {
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 12px 16px;
  min-height: 80px;
  border-bottom: 1px solid #CDCDCD;
}

.size-selector:first-of-type{
  border-top: 1px solid #CDCDCD;
}

.size-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  color: #000;
  text-align: left;
}