@use '../variables' as *;

.custom-form {
  padding-inline: $section-padding;
  padding-bottom: 22px;

  .welcome {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
  }

  .gray-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #AAAAAA;
    padding: 28px;
  }

  .social-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .division {
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #D9D9D9;
    margin-top: 32px;

    span {
      position: absolute;
      font-weight: 500;
      font-size: 14px;
      color: #AAAAAA;
      padding: 14px;
      top: 50%;
      left: 50%;
      background-color: #fff;
      transform: translate(-50%, -50%);
    }
  }

  h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #171717;
    margin-block: 44px 30px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 22px;
   
    .gender {
      padding-block: 32px;

      p {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.03em;
        color: #171717;
        margin-bottom: 22px;
      }

      .gender-group {
        display: flex;
        gap: 52px;

        li {
          display: flex;
          align-items: center;
          gap: 8px;

          label {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.03em;
            color: #D2D2D2;
          }
          input {
            accent-color: #000;
          }
        }
      }
    }
    
    .checkbox-group {
      p {
        font-weight: 900;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.03em;
        color: #171717;
      }
       
      div {
        display: flex;
        align-items: flex-start;
        gap: 9px;
        padding-block: 22px 24px;

        label {
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          text-align: justify;
          letter-spacing: -0.03em;
          color: #A7A7A7;
        }
      }
    }
  }
}

.invalid-input {
  border: 1px solid #f00 !important;
  border-radius: 4px;
  animation: shake 0.2s ease-in-out 0s 2 !important;

  &:focus {
    outline: 1px solid #f00 !important;
  }

  &-reminder-text{
    color:red;
    font-size: 12px;
    margin-top: -18px;
  }
}


@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}