@use '../mixins/breakpoints' as *;

.primary-button {
  padding: 12px 14px;
  border-radius: 8px;
  font-weight: 900;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: 0;
  color: #FFF;
  gap: 3px;
  @include mq($width: 400px) {
    font-size: 12px;
    padding: 14px 16px;
  }
}
