.raffles-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;


  
  &-next-btn {
    background: #171717;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 0;
    padding: 11px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
  }

  .selected-size-tag {
    border: 1px solid #000000;
    border-radius: 16px;
    background: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 0px 8px;
    height: 22px;
    margin-top: 0;
    color: #000;
  }
}
